body {
    background-color: #e5e5e5;
  }
  .titulo {
    font-family: "Righteous", cursive;
  }
  
  .topo {
    width: 100%;
    height: 92px;
    background: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    z-index: 1;
  }
  .topo h1 {
    font-size: 44px;
  }
  .topo p {
    font-size: 18px;
  }
  .topo div {
    margin: 15px;
  }
  .container {
    width: 100%;
    margin: 92px auto;
    margin-top: 122px;
    font-family: "Roboto", sans-serif;
  }
  .OPÇÃO {
    width: 100%;
    margin: 30px auto;
    color: black;
    overflow-x: hidden scroll;
    overflow-y: none;
  }
  .OPÇÃO h2 {
    font-size: 26px;
    margin-left: 15px;
  }
  .OPÇÃO h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .OPÇÃO p {
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
  }
  
  .container_opções {
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
  }
  .opções {
    width: 172px;
    height:200px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color: white;
  }
  img {
    width: 144px;
    height:87px;
    margin-bottom:5px;
    border-radius: 4px;
  }
  .escondido {
    display: none;
  }
  ion-icon {
    color: #32b72f;
    font-size: 16px;
    position: absolute;
    right: 13px;
    bottom: 12px;
  }
  .final {
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .botão {
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border: none;
    border-radius: 50px;
  }
  .final p {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    color: #ffff;
    text-align: center;
  }
  
  .selecionado {
    border-width: 5px;
    border-style: solid;
    border-color: #32b72f;
  }
  
  .Finalizar {
    background-color: #32b72f;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    color: #ffff;
    text-align: center;
  }
  
  .confirmar {
    height: 353px;
    background: #50d074;
    border-radius: 9px;
    position: fixed;
    top: calc(50% - 353px / 2 - 0.5px);
    left: 20px;
    right: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
    font-size: 22px;
    font-weight: 400;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .confirmar div {
    display: flex;
    justify-content: space-between;
  }
  .confirmar h1 {
    text-align: center;
    font-weight: 700;
  }
  
  .pedir {
    margin: 0 auto;
    background: #ffffff;
    border-radius: 100px;
    width: 329px;
    height: 52px;
    border: none;
  }
  .pedir p {
    color: #50d074;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
  
  .cancelar {
    margin: 0 auto;
    background: #50d074;
    border-radius: 100px;
    border-radius: 100px;
    width: 329px;
    height: 52px;
    border: none;
  }
  .cancelar p {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
  }
  
  .fundo {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  